@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.projects {
  display: flex;
  flex-direction: column;
  background-color: #fcfbf1;
  padding: 8rem 4rem;
  border-bottom: 4px solid #eaf6f6;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  margin-top: 10rem;
  text-align: left;
  border-bottom: 8px solid #fcd12a;

  &_header {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 2rem;
    padding: 0 6rem;
  }

  &_link {
    text-decoration: none;
    color: #000;
    padding: 0 6rem;
  }

  &_list {
    margin-top: 6rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    &_item {
      max-width: 33%;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding: 2rem 0;
    }
  }
  &_name {
    font-size: 1.5rem;
  }

  &_description {
    opacity: 0;
    transition: all 0.5s ease-in;
    text-align: center;
    width: 70%;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  &_img {
    height: 18rem;
    width: 28rem;
    border-radius: 10px;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 34px -18px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 34px -18px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 34px -18px rgba(66, 68, 90, 1);
    z-index: 10;
    cursor: pointer;
    margin-top: 2.5rem;
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.05);
    }
  }

  .active {
    opacity: 1;
  }
  .first {
    font-family: "Montserrat", sans-serif;
  }
  .second {
    font-family: "Lobster", cursive;
  }
  .third {
    height: 1.5rem;

    &_logo {
      height: 2.5rem;
    }
  }
}
.visiable {
  opacity: 1;
  margin-top: 0;
}

@media only screen and (max-width: 1440px) {
  .projects {
    display: flex;
    flex-direction: column;
    background-color: #fcfbf1;
    padding: 6rem 4rem 2rem 4rem;
    border-bottom: 4px solid #eaf6f6;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    margin-top: 10rem;
    text-align: left;
    border-bottom: 8px solid #fcd12a;

    &_header {
      font-size: 2.5rem;
      text-align: left;
      margin-bottom: 2rem;
      padding: 0 3rem;
    }

    &_link {
      text-decoration: none;
      color: #000;
      padding: 0 3rem;
      font-size: 0.8rem;
    }

    &_list {
      margin-top: 6rem;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;

      &_item {
        max-width: 33%;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 2rem 0;
      }
    }
    &_name {
      font-size: 1.5rem;
    }

    &_description {
      opacity: 0;
      transition: all 0.5s ease-in;
      text-align: center;
      width: 70%;
      font-size: 1.2rem;
      margin-top: 1.5rem;
    }
    &_img {
      height: 13rem;
      width: 23rem;
      border-radius: 10px;
      padding: 1rem;
      -webkit-box-shadow: 0px 0px 34px -18px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 0px 34px -18px rgba(66, 68, 90, 1);
      box-shadow: 0px 0px 34px -18px rgba(66, 68, 90, 1);
      z-index: 10;
      cursor: pointer;
      margin-top: 2.5rem;
      background-color: #fff;
    }

    .third {
      height: 1.5rem;

      &_logo {
        height: 2.5rem;
      }
    }
  }
}
