.Contact {
  background-image: linear-gradient(
    to bottom,
    rgb(42, 7, 121) 33%,
    rgb(10, 28, 160)
  );
  padding: 8rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  &_content {
    opacity: 0;
    transition: all 0.8s ease-in-out;
    margin-top: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_header {
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 80%;
  }

  &_text {
    width: 70%;
    font-size: 1.8rem;
  }

  &_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin-top: 6rem;

    &_icon {
      height: 5rem;
      cursor: pointer;
      transition: all 0.2s ease-in;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
        brightness(103%) contrast(103%);

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.visiable {
  opacity: 1;
  margin-top: 0;
}

@media only screen and (max-width: 1440px) {
  .Contact {
    background-image: linear-gradient(
      to bottom,
      rgb(42, 7, 121) 33%,
      rgb(10, 28, 160)
    );
    padding: 6rem 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    &_content {
      opacity: 0;
      transition: all 0.8s ease-in-out;
      margin-top: 10rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &_header {
      font-size: 2.5rem;
      margin-bottom: 3rem;
      width: 80%;
    }

    &_text {
      width: 70%;
      font-size: 1.2rem;
    }

    &_icons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 60%;
      margin-top: 6rem;

      &_icon {
        height: 3rem;
        cursor: pointer;
        transition: all 0.2s ease-in;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg)
          brightness(103%) contrast(103%);

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .visiable {
    opacity: 1;
    margin-top: 0;
  }
}
