@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.header {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Fade-In 2s ease-in-out;
  &_lng_toggler {
    position: absolute;
    top: 1.5em;
    right: 5.5em;
    height: 1.7rem;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(297deg)
      brightness(102%) contrast(101%);
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    -webkit-box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.4);
    &_img {
      height: 4rem;
      align-self: center;
      margin-right: 0.5rem;
    }

    &_txt {
      font-size: 2rem;
      font-family: "Patua One", cursive;
    }
  }
}
.toggled {
  filter: none;
}
@keyframes Fade-In {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@media only screen and (min-width: 1920px) {
  .header {
    &_lng_toggler {
      top: 2em;
      right: 7.5em;
      height: 2.3rem;
    }
  }
}
@media only screen and (max-width: 1440px) {
  .header_logo {
    padding: 1rem 1.5rem 2rem 1.5rem;
  }
  .header_logo_txt {
    font-size: 1.6rem;
  }
  .header_logo_img {
    height: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .header_logo {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }
  .header_logo_txt {
    font-size: 1.2rem;
  }
  .header_logo_img {
    height: 1.5rem;
  }
}
