.mobile_menu {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(42, 7, 121) 33%,
    rgb(10, 28, 160)
  );
  z-index: 1000;
  color: #fff;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.4s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_close {
    width: 100%;
    font-size: 2.5rem;
    text-align: right;
  }
  &_list {
    list-style: none;
    text-align: center;
    &_item {
      padding: 1rem;
      font-size: 2rem;
      border: 1px solid #ededed;
      border-radius: 10px;
      margin-bottom: 1rem;
    }
  }
}
.active {
  opacity: 1;
  transform: translateY(0);
}
.mobile_wrap {
  width: 100%;
  text-align: right;
  padding-bottom: 5rem;
  margin-top: -7rem;
}
